extends ../layout

block content
    div.mw-full.mid
        div.card.p-0
            div.px-card.py-10.border-bottom.mid
                h1.card-title.font-size-18.m-0 Users list
            div.content.form_break
                table(class='table')
                    thead
                        tr
                            th #
                            th UUID
                            th Email
                            //th EmailVerify
                            //th Permission
                            //th CreatedAt
                            //th UpdatedAt
                            th Edit
                    tbody(id='account_list')
    script(src='/js/admin/root.js')
