extends layout

block content
    div.mw-full
        div.card.p-0
            div.px-card.border-bottom.py-10
                h2.card-title.font-size-18.m-0 Welcome
            div.content
                p 这里会有介绍

